<p id="notice"><%= notice %></p>

<h1>Addemails</h1>

<table>
  <thead>
    <tr>
      <th>Extraemail</th>
      <th>Currentemail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addemails.each do |addemail| %>
      <tr>
        <td><%= addemail.extraemail %></td>
        <td><%= addemail.currentemail %></td>
        <td><%= link_to 'Show', addemail %></td>
        <td><%= link_to 'Edit', edit_addemail_path(addemail) %></td>
        <td><%= link_to 'Destroy', addemail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addemail', new_addemail_path %>
